<!doctype html>
<html lang="en">
<%- include('./partials/header'); %>
  
  <body>
    <%- include('./partials/navbar'); %>

<div class="container">
  <a href="/create" class="btn btn-primary">Create</a>
  <a href="/export-csv" class="btn btn-primary">Export CSV</a>
  <a href="/export-excel" class="btn btn-primary">Export Excel</a>

  <table class="table table-bordered" id="personTable">
    <thead>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Date of Birth</td>
        <td>Actions</td>
      </tr>
    </thead>
    <% for (var i=0; i<persons.length; i++)  {%>
      <tr>
        <td><%=persons[i].firstName%></td>
        <td><%=persons[i].lastName%></td>
        <td><%=persons[i].dateOfBirth%></td>
        <td>
          <a href="/update?id=<%=persons[i]._id%>">Update</a> | 
          <a href="/delete?id=<%=persons[i]._id%>">Delete</a>
        </td>
      </tr>
    <% } %>
  </table>
</div>


    <%- include('./partials/scripts'); %>



      <script type="text/javascript">
        $(document).ready(function() {
          $('#personTable').DataTable();
        })
      </script>

  </body>
</html>